{% extends "main_page/base.html" %}
{% block title %}Log-in{% endblock %}
{% block main_content %}
    <div class="form-container">
        <div class="form-header">
            <h1>Change Password</h1>
        </div>
        <form action="{% url 'change_password' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.old_password.id_for_label }}">Old Password:</label>
                {{ form.old_password }}
                {{ form.old_password.errors }}
            </div>
            <div class="form-group">

                <label for="{{ form.new_password1.id_for_label }}">New Password:</label>
                {{ form.new_password1 }}
                {{ form.new_password1.errors }}
            </div>
            <div class="form-group">

                <label for="{{ form.new_password2.id_for_label }}">Confirm New Password:</label>
                {{ form.new_password2 }}
                {{ form.new_password2.errors }}
            </div>
            <button id="changePasswordSubmit" class="submitButton" type="submit">Change Password</button>
        </form>
        <a href="{% url 'profile' %}" class="submitButton passwordBackToProfileButton">Back to Profile</a>
    </div>
{% endblock %}